{% load static %} {% load bootstrap5 %}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container px-5">
    <a class="navbar-brand" href="{% url 'profiles'%}">
      <img
        src="{% static 'images/logo.png' %}"
        style="
          width: 50px;
          height: 50px;
          border-radius: 50%;
          position: relative;
        "
        class="rounded-circle"
        alt=""
      />DevWorld
    </a>
    <button
      class="navbar-toggler"
      id="navbarDropdown"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav dropdown ms-auto mb-2 mb-lg-0">
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'posts' %}">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'inbox' %}">Inbox</a>
        </li>
        <!-- this -->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDropdown"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              ><img
                class="rounded-circle"
                style="width: 30px"
                src="{{ user.profile.profile_image.url }}"
                alt="image"
            /></a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdown"
            >
              <li>
                <a class="dropdown-item" href="{% url 'account' %}">Account</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'edit-profile' %}"
                  >Edit Profile</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="{%url 'logout' %}">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- this -->
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{%url 'posts'%}">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login/ Sign Up</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
